::-webkit-scrollbar{width: 0.5rem;}
::-webkit-scrollbar{height: 0.5rem;}
::-webkit-scrollbar-track {background: yellow;}
::-webkit-scrollbar-thumb{background: pink ;
    border-radius: 0.5rem;
}
.rosa{
    width: 35rem;
    height: 35rem;
}

body{
    text-align:center;
    background-color: white;
    font-size: 4rem;
    background-image:  url(/src/imagens/rosafundo.webp);
}
.h1{
    justify-content: center;
    font-size: 2rem;
}